body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

* {
  -webkit-font-smoothing: antialiased;
}

.navbar-brand {
  color: white;
  font-weight: bold !important;
  font-size: 30px;
}

.navbar-brand:hover {
  color: white;
}

.jumbo {
  background-image: url("../src/assets/home-wedding-photo.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
  margin-bottom: 0rem;
}

.navigationBar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: transparent;
}

.nav-link {
  color: white !important;
  border-bottom: 3px solid transparent;
  margin: 10px;
  font-weight: 800;
}

.nav-link:hover {
  border-bottom: 3px solid white;
}

.searchForm {
  display: inline-block;
  max-width: 600px;
  max-height: 500px;
  background-color: white;
  margin-top: 100px;
  margin-left: 40px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.guestLabel {
  margin-left: -15px;
}

h4 {
  font-weight: bold;
}

.searchSubmit {
  float: right;
  background-color: rgb(167, 36, 33);
  border-color: rgb(167, 36, 33);
  box-shadow: 1cm;
}

.cityInput {
  height: 46px;
  border-radius: 2px;
}

.loginOrSignUpModal {
  z-index: 100000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 100%;
}

.nav-buttons {
  float: right;
}

.modal-size {
  position: absolute;
  width: 25%;
  height: 50%;

  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 2px solid #000;
  background-color: white;

  transform: translate(-50%, -50%);
}
